<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="connectionPool" class="edu.sm.frame.ConnectionPool" factory-method="create"/>

    <bean id="addressDao" class="edu.sm.dao.AddressDao"/>
    <bean id="addressService" class="edu.sm.service.AddressService">
        <property name="dao" ref="addressDao"/>
        <property name="cp" ref="connectionPool"/>
    </bean>

    <bean id="cartDao" class="edu.sm.dao.CartDao"/>
    <bean id="cartService" class="edu.sm.service.CartService">
        <property name="dao" ref="cartDao"/>
        <property name="cp" ref="connectionPool"/>
    </bean>

    <bean id="categoryDao" class="edu.sm.dao.CategoryDao"/>
    <bean id="categoryService" class="edu.sm.service.CategoryService">
        <property name="dao" ref="categoryDao"/>
        <property name="cp" ref="connectionPool"/>
    </bean>

    <bean id="customerDao" class="edu.sm.dao.CustomerDao"/>
    <bean id="customerService" class="edu.sm.service.CustomerService">
        <property name="dao" ref="customerDao"/>
        <property name="cp" ref="connectionPool"/>
    </bean>

    <bean id="discountDao" class="edu.sm.dao.DiscountDao"/>
    <bean id="discountService" class="edu.sm.service.DiscountService">
        <property name="dao" ref="discountDao"/>
        <property name="cp" ref="connectionPool"/>
    </bean>

    <bean id="orderDao" class="edu.sm.dao.OrderDao"/>
    <bean id="orderService" class="edu.sm.service.OrderService">
        <property name="dao" ref="orderDao"/>
        <property name="cp" ref="connectionPool"/>
    </bean>

    <bean id="orderDetailDao" class="edu.sm.dao.OrderDetailDao"/>
    <bean id="orderDetailService" class="edu.sm.service.OrderDetailService">
        <property name="dao" ref="orderDetailDao"/>
        <property name="cp" ref="connectionPool"/>
    </bean>

    <bean id="payDao" class="edu.sm.dao.PayDao"/>
    <bean id="payService" class="edu.sm.service.PayService">
        <property name="dao" ref="payDao"/>
        <property name="cp" ref="connectionPool"/>
    </bean>

    <bean id="productDao" class="edu.sm.dao.ProductDao"/>
    <bean id="productService" class="edu.sm.service.ProductService">
        <property name="dao" ref="productDao"/>
        <property name="cp" ref="connectionPool"/>
    </bean>

    <bean id="reviewDao" class="edu.sm.dao.ReviewDao"/>
    <bean id="reviewService" class="edu.sm.service.ReviewService">
        <property name="dao" ref="reviewDao"/>
        <property name="cp" ref="connectionPool"/>
    </bean>
</beans>