<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="connectionPool" class="edu.sm.frame.ConnectionPool" factory-method="create"/>

    <bean id="addressDao" class="edu.sm.dao.AddressDao"/>
    <bean id="addressService" class="edu.sm.service.AddressService">
        <property name="dao" ref="addressDao"/>
        <property name="cp" ref="connectionPool"/>
    </bean>

    <bean id="cartDao" class="edu.sm.dao.CartDao"/>
    <bean id="cartService" class="edu.sm.service.CartService">
        <property name="dao" ref="cartDao"/>
        <property name="cp" ref="connectionPool"/>
    </bean>

    <bean id="categoryDao" class="edu.sm.dao.CategoryDao"/>
    <bean id="categoryService" class="edu.sm.service.CategoryService">
        <property name="dao" ref="categoryDao"/>
        <property name="cp" ref="connectionPool"/>
    </bean>

    <bean id="customerDao" class="edu.sm.dao.CustomerDao"/>
    <bean id="customerService" class="edu.sm.service.CustomerService">
        <property name="dao" ref="customerDao"/>
        <property name="cp" ref="connectionPool"/>
    </bean>

    <bean id="discountDao" class="edu.sm.dao.DiscountDao"/>
    <bean id="discountService" class="edu.sm.service.DiscountService">
        <property name="dao" ref="discountDao"/>
        <property name="cp" ref="connectionPool"/>
    </bean>
</beans>